<div class="container-fluid tickets-buy">
  <div class="row tickets-header">
    <div class="col-xs-12 col-md-11 col-md-offset-1">
      <h3> <%= @event.name %> </h3>
      <div class="pull-left">
        <%= fa_icon 'map-marker' %>
      </div>
      <div class="venue-details">
       <%= @event.venue.name %>
       <br/>
       <%= @event.venue.full_address %>
      </div>

      <div class="pull-left">
        <%= fa_icon 'clock-o' %>
      </div>
      <div class="time-details"> 
        <%= @event.starts_at.strftime('%A, %d %b %Y %l:%M %p') %> 
      </div>


    </div>
  </div>
  <div class="row">
    <div class="col-md-11 col-md-offset-1">  
      <table class="table">
        <th> Ticket Type </th>
        <th> Unit Price </th>
        <th> Quantity </th>
      
        <% @event.ticket_types.each do |type| %>
        <tr>
          <td> <%= type.name %> </td>
          <td> <%= number_to_currency(type.price, unit: 'VND ', precision: 0) %> </td>
          <td><%= type.max_quantity %></td>
          <!-- 
          <td> <%= select_tag('quantity', options_for_select(0..10)) %></td> -->
        </tr>
        <% end %> 
      </table>



    <!-- if this event as creted by this user he can add tickets -->
    <% if current_user && current_user.id == @event.user_id %>
      <h5>Add ticket types</h5>

          <%= form_for(:ticket_type, :url => {:controller => 'tickets', :action => 'create'}) do |f| %>
        <fieldset class="form-group">
          <label for="name">Type Name: </label>
          <%= f.text_field :name, id: "name", class: "form-control", placeholder: "type name" %>
        </fieldset>

        <fieldset class="form-group">
          <label for="max_quantity">Max Quantity: </label>
          <%= f.number_field :max_quantity, id: "max_quantity", class: "form-control", placeholder: "Max quantity" %>
        </fieldset>

        <fieldset class="form-group">
          <label for="price">Price: </label>
          <%= f.number_field :price, id: "price", class: "form-control", placeholder: "price" %>
        </fieldset>

        <button type="submit" class="btn btn-success">Create</button>
    <% end %>
      <% else %>
          <div class="col-md-2 col-md-offset-5">
          
            <a href="<%= new_event_order_path %>"><button class="btn btn-success btn-lg btn-block">Buy</button></a>
          
        </div>
      <% end %>
      <div class="col-md-2 col-md-offset-5">
        <a href="<%= event_path(id: @event.id) %>"><button class="btn btn-primary btn-lg btn-block">Back</button></a>
      </div>



    



    </div>
  </div>
</div>

