<div class="container">
<h1> Create a New Location</h1>
    <%= form_for(@venues) do |v| %>
    <div class="field">
        <%= v.label :name %>
        <%= v.text_field :name %>
    </div>
    <div class="field">
        <%= v.label :full_address %>
        <%= v.text_field :full_address %>
    </div>
    <div class="field">
        <%= v.label :region_id %>
        <%= v.select :region_id, Region.all.map{|e| [e.name,e.id]} %>
    </div>
    <div class="actions">
        <%=v.submit :class => 'form_submit' %>
    </div>
</div>



<% end %>