<nav class="navbar  navbar-dark bg-inverse fixed-top">
    <a class="navbar-brand" href="<%= root_path %>"> coderEvents</a>
    
    <ul class="nav navbar-nav pull-right">
      <% if current_user %>
        <li class="nav-item active">
             <%= link_to 'Log Out',logout_path, method: 'delete', class:'nav-link' %>
         </li>
         <li class="nav-item active nav-link">
             <%= current_user.name %> || <%= current_user.email %>
         </li>

    <% else %>
        <li class="nav-item active">  
             <%= link_to 'Register', new_user_path, class:'nav-link' %>  
        </li>
        <li class="nav-item active">   
            <%= link_to 'Log In', new_session_path, class:'nav-link' %>
        </li>
     <% end %>
    </ul>
    <ul class="nav navbar-nav">
        <li class='nav-item'>
            <%= form_tag(events_path, :method => "get",class:'form-inline',id: "search-form") do %>  
                <%= text_field_tag :search, params[:search], placeholder: "Search Events", class:"form-control" %>
                <%= submit_tag "Search", class: 'btn btn-secondary', :name => nil %>
            <% end %>  <!-- seach form -->
        </li>
        <% if current_user %>
             <li class="nav-item nav-link">
                <%= link_to 'Create an Event', new_event_path %>
             </li>
             <li class="nav-item nav-link">
                <%= link_to 'My Events', events_show_mine_path %>
             </li>
             <li class="nav-item nav-link">
                <%= link_to 'Locations', venues_path %>
             </li>

        <% end %>
    </ul>

  </nav>  